@page
@model DeveloperModel
@{
    ViewData["Title"] = "Developer List";
}
<h1>@ViewData["Title"]</h1>

<div class="container">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Title</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model.Products)
            {
                <tr>
                    <td>@product.Title</td>
                </tr>
            }
        </tbody>
    </table>
</div>