@page
@model DeveloperModel
@{
    ViewData["Title"] = "Developer List";
}
<h1>@ViewData["Title"]</h1>

<div class="container developer-container">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model.Products)
            {
                <tr>
                    <td>@product.Title</td>
                    <td><a class="nav-link text-dark" asp-area="" asp-page="/Read" asp-route-id="@product.Id">read</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>