@page
@{
    ViewData["Title"] = "About";
}

<div class="container index-page">
    <img class="index-image" src="https://user-images.githubusercontent.com/47729520/202093966-32622c08-ff61-4527-bb94-d60b64769acb.png" />
    <h5 class="index-text">Find The Best Site To Hire Freelance developers in Under 60 Seconds.</h5>
    <a type="button" class="btn btn-warning" asp-page="/Home">Start ></a>
</div>
