@page
@model CreateModel
@{
    ViewData["Title"] = "Developer Create";
}
<h1>@ViewData["Title"]</h1>
<div class="container update-form">
    <form method="post">
        <input type="hidden" asp-for="Product.Id" />
        <div class="form-group">
            <span class="icon-required">*</span>
            <label asp-for="Product.Maker" class="control-label"></label>
            <input asp-for="Product.Maker" required class="form-control" />
            <span asp-validation-for="Product.Maker" class="text-danger"></span>
        </div>
        <div class="form-group">
            <span class="icon-required">*</span>
            <label asp-for="Product.Title" class="control-label"></label>
            <input asp-for="Product.Title" required class="form-control" />
            <span asp-validation-for="Product.Title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <span class="icon-required">*</span>
            <label asp-for="Product.Description" class="control-label"></label>
            <textarea asp-for="Product.Description" required class="form-control" rows="5"></textarea>
            <span asp-validation-for="Product.Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <span class="icon-required">*</span>
            <label asp-for="Product.Price" class="control-label"></label>
            <input asp-for="Product.Price" class="form-control" />
            <span asp-validation-for="Product.Price" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Product.Image" class="control-label"></label>
            <input asp-for="Product.Image" class="form-control" />
            <span asp-validation-for="Product.Image" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary submit" />
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}