@using ContosoCrafts.WebSite.Models
@using ContosoCrafts.WebSite.Services
@using Microsoft.AspNetCore.Components.Web
@inject JsonFileProductService ProductService

<div class="container developer-container">
    <a class="btn btn-primary" href="/Create">+ Create</a>
    @foreach (var product in ProductService.GetAllData())
    {
        <div class="developer-list">
            <p>@product.Title</p>
            <div class="btn-group">
                <a class="btn btn-default" href="/Read/@product.Id">read</a>
                <a class="btn btn-default" href="/update/@product.Id">update</a>
                <a class="btn btn-default" href="/Delete/@product.Id">delete</a>
            </div>
        </div>
    }
</div>