@page "{id}"
@model DeleteModel
@{
    ViewData["Title"] = "Developer Delete";
}
<h1>@ViewData["Title"]</h1>
<div class="alert alert-danger delete-alert" role="alert">Are you sure you want to delete this developer?</div>
<div class="container update-form">
    <form method="post">
        <input type="hidden" asp-for="Product.Id" />
        <div class="form-group">
            <label asp-for="Product.Maker" class="control-label"></label>
            <input asp-for="Product.Maker" class="form-control" readonly />
        </div>
        <div class="form-group">
            <label asp-for="Product.Title" class="control-label"></label>
            <input asp-for="Product.Title" class="form-control" readonly />
            <span asp-validation-for="Product.Title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Product.Description" class="control-label"></label>
            <textarea asp-for="Product.Description" class="form-control" rows="5" readonly></textarea>
        </div>
        <div class="form-group">
            <label asp-for="Product.Price" class="control-label"></label>
            <input asp-for="Product.Price" class="form-control" readonly />
            <span asp-validation-for="Product.Price" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Product.Image" class="control-label"></label>
            <input asp-for="Product.Image" class="form-control" readonly />
            <span asp-validation-for="Product.Image" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Product.Url" class="control-label"></label>
            <input asp-for="Product.Url" class="form-control" readonly />
        </div>
        <div class="form-group">
            <input type="submit" value="Delete" class="btn btn-danger submit" />
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}